<app-nav></app-nav>
<!-- **************** MAIN CONTENT START **************** -->
<main style="    margin-top: 6rem;">
    <!-- Container START -->
    <div class="container">
      <div class="row">
  
        <!-- Sidenav START -->
        <div class="col-lg-3">
            <app-sidebar-usuario></app-sidebar-usuario>
        </div>
        <!-- Sidenav END -->
  
        <!-- Main content START -->
        <div class="col-lg-6 vstack gap-4">
        <!-- Setting Tab content START -->
        <div class="tab-content py-0 mb-0">

            <!-- Account setting tab START -->
            <div class="tab-pane show active fade" id="nav-setting-tab-1">
            <!-- Account settings START -->
            <div class="card mb-4">
                
                <!-- Title START -->
                <div class="card-header border-0 pb-0">
                <h1 class="h5 card-title">Configuración de cuenta</h1>
                <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis facere voluptatem excepturi architecto ad rerum asperiores, atque modi placeat soluta.</p>
                </div>
                <!-- Card header START -->
                <!-- Card body START -->
                <div class="card-body">
                <!-- Form settings START -->
                <div class="row g-3">

                    <div class="col-12" *ngIf="msm_succes">
                        <div class="alert alert-success d-flex align-items-center" role="alert">
                            <div>
                                {{msm_succes}}
                            </div>
                        </div>
                    </div>
                    <!-- First name -->
                    <div class="col-sm-6 col-lg-4">
                    <label class="form-label">Nombres</label>
                    <input type="text" class="form-control" placeholder="Nombres" name="nombres" [(ngModel)]="usuario.nombres">
                    </div>
                    <!-- Last name -->
                    <div class="col-sm-6 col-lg-4">
                    <label class="form-label">Apellidos</label>
                    <input type="text" class="form-control" placeholder="Apellidos" name="apellidos" [(ngModel)]="usuario.apellidos">
                    </div>
                    <!-- Additional name -->
                    <div class="col-sm-6 col-lg-4">
                    <label class="form-label">Genero</label>
                        <select class="form-control" id="" name="genero" [(ngModel)]="usuario.genero">
                            <option value="" selected disabled>Seleccionar</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="No especificar">No especificar</option>
                        </select>
                    </div>
                    <!-- User name -->
                    <div class="col-sm-6 col-lg-4">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" placeholder="" readonly [value]="usuario.username">
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label class="form-label">Profesion </label>
                        <input type="text" class="form-control" placeholder="Profesion" name="profesion" [(ngModel)]="usuario.profesion">
                    </div>
                    <!-- Birthday -->
                    <div class="col-sm-6 col-lg-4">
                    <label class="form-label">Nacimiento </label>
                    <input type="date" class="form-control" name="nacimiento" [(ngModel)]="usuario.nacimiento">
                    </div>
                    <!-- Allow checkbox -->
                    
                    <!-- Phone number -->
                    <div class="col-sm-6">
                    <label class="form-label">Telefono</label>
                    <input type="text" class="form-control" placeholder="Telefono" name="telefono" [(ngModel)]="usuario.telefono">
                    <!-- Add new number -->
                    </div>
                    <!-- Phone number -->
                    
                    <div class="col-sm-6">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" placeholder="Email" readonly [value]="usuario.email">
                   
                    </div>
                    <!-- Page information -->
                    <div class="col-12">
                    <label class="form-label">Sobre mí</label>
                    <textarea class="form-control" rows="4" placeholder="Sobre mí persona" name="descripcion" [(ngModel)]="usuario.descripcion" (keyup)="validate_descripcion()"></textarea>
                    <small>Limite de caracteres: {{usuario.descripcion.length}}</small>
                    </div>
                    <!-- Button  -->
                    <div class="col-12 text-end">
                    <button class="btn btn-sm btn-primary mb-0" (click)="update()">Guardar cambios</button>
                    </div>
                </div>
                <!-- Settings END -->
                </div>
            <!-- Card body END -->
            </div>
            <!-- Account settings END -->

            </div>
            <!-- Account setting tab END -->

            

        </div>
        <!-- Setting Tab content END -->
        </div>
  
      </div> <!-- Row END -->
    </div>
    <!-- Container END -->
  
  </main>
  <!-- **************** MAIN CONTENT END **************** -->