<div class="row g-4">
    <!-- Card follow START -->
    <div class="col-sm-6 col-lg-12" style="    position: fixed;
    width: auto;">
      <div class="card">
        <!-- Card header START -->
        <div class="card-header pb-0 border-0">
          <h5 class="card-title mb-0">Sugerencias</h5>
        </div>
        <!-- Card header END -->
        <!-- Card body START -->
        <div class="card-body">
          
          <!-- Connection item START -->
          <div *ngFor="let item of usuarios" class="hstack gap-2 mb-3">
            <!-- Avatar -->
            <div class="avatar">
              <a [routerLink]="['/cuenta/'+item.username+'/posts']"> 
                <img class="avatar-img rounded-circle" [src]="item.avatar" alt=""> 
              </a>
            </div>
            <!-- Title -->
            <div class="overflow-hidden">
              <a [routerLink]="['/cuenta/'+item.username+'/posts']" class="h6 mb-0" href="#!">
                {{item.nombres.split(' ')[0]}} {{item.nombres.split(' ')[1]}}
              </a>
              <p class="mb-0 small text-truncate">
                <ng-container *ngIf="item.profesion">{{item.profesion}}</ng-container>
                <ng-container *ngIf="!item.profesion">{{item.email}}</ng-container>
              </p>
            </div>
            <!-- Button -->
            <a class="btn btn-primary-soft rounded-circle icon-md ms-auto" style="cursor: pointer;" (click)="send_invitacion(item._id)"><i class="fa-solid fa-plus"> </i></a>
          </div>
          <!-- Connection item END -->

          <!-- View more button -->
          <div class="d-grid mt-3">
            <a class="btn btn-sm btn-primary-soft" href="#!">View more</a>
          </div>
        </div>
        <!-- Card body END -->
      </div>
    </div>
    <!-- Card follow START -->

  </div>